@charset "utf-8";
/* CSS Document */
*{
	margin: auto;
}
.khung{
	width: 960px;
	border:solid 1px white;
}
.anh{
	width: 960px;
	height: 100px;
}
.menu{
	transform: translate(0px, 5px);
	padding-left: 0px;
}
.menu a{
	color: black;
	padding-left: 15px;
	text-decoration: none;
}
.chu{
	float: right;
	transform: translate(-9px, -15px);	
}

